
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Популярные вопросы - {{ page.number }}</title>
	</head>
	<body>
		<h1>Популярные вопросы</h1>
		<ul>
			{% for q in page %}
				<li><a href="{{ q.get_url }}">{{ q.title }}</a></li>
			{% endfor %}
		</ul>
		{% if page.has_previous %}
			<a href="{{paginator.baseurl }}{{ page.previous_page_number }}">Назад</a>
		{% endif %}

		{% if page.has_next %}
			<a href="{{ paginator.baseurl }}{{ page.next_page_number }}">Вперёд</a>
		{% endif %}
	</body>
</html>