<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post add</title>
</head>
<body>
    <h1>Задайте свой вопрос</h1>
    {% for e in form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horizontal" method="post" action="/ask/">
        <fieldset>
            {% for field in form %}
                <div class="control-group
                    {% if field.errors %}has-error{% endif %}">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}</div>
                </div>
            {% endfor %}
        </fieldset>
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
            Опубликовать</button>
        </div>
    </form>
</body>
</html>
