
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Вопрос - {{ question.title }}</title>
	</head>
	<body>
		<h1>Вопрос - {{ question.title }}</h1>
        <p>{{ question.text }}</p>
		<h2>Ответы пользователей:</h2>
		<ul>
			{% for a in answers %}
				<li>
                    <p>Пользователь {{ a.author }} ({{ question.added_at }})</p>
					<p>{{ a.text }}</p>
                </li>
			{% endfor %}
		</ul>
		<h2>Вы можете оставить ответ:</h2>
		{% for e in form.non_field_errors %}
		<div class="alert alert-danger">{{ e }}</div>
		{% endfor %}
		<form class="form-horizontal" method="post" action="{{ question.get_url }}">
			<fieldset>
				{% for field in answerform %}
				<div class="control-group
							{% if field.errors %}has-error{% endif %}">
					<div class="controls">{{ field }}</div>
				</div>
				{% endfor %}
			</fieldset>
			{% csrf_token %}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Ответить</button>
			</div>
		</form>
		<!--<form class="from-horizontal" method="POST" action="/question/?next={{ question.get_url }}">-->
			<!--{{ AnswerForm.field.text }}-->

			<!--{% csrf_token %}-->
			<!--<div class="form-actions">-->
				<!--<button type="submit" class="btn btn-primary">-->
					<!--Ответить</button>-->
			<!--</div>-->
		</form>
	</body>
</html>